@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Bebas Neue', sans-serif;
    --font3:'Passion One', sans-serif;
}

html, body {
    font-family: var(--font1);
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: rgb(54, 54, 54);
    text-align: center;
    color: white;
}

header > h1 {
    font-family: var(--font2);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: blue;
}
section {
    font-family: var(--font3);
    font-size: 2.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(104, 101, 101);
    color: white;
}

section.imagem > p {
    display: block;
    padding: 5px;
    background-color: rgb(63, 62, 62);
}

footer {
    text-align: center;
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 10px;
}